* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    width: 50rem;
    height: 28rem;
    object-fit: cover;
}

.title {
    text-align: center;
}

.img_wrap {
    position: relative;
    margin: auto;
    width: 50rem;
    /* border: 3px solid tomato; */
}

.title>h1 {
    font-size: 3.2rem;
    font-family: serif;
    margin: 8rem;
}

.s1000rr_wrap {
    display: flex;
    overflow: hidden;
}

.s1000rr {
    /* position: absolute;
    top: 20rem;
    left: 50rem; */
}

.s100orr_ride {
    overflow: hidden;
}

.s100orr_rase {
    overflow: hidden;
}

.circle {
    display: flex;
}

.circle_btn {
    background-color: #bbb;
}