html {
    font-size: 62.5%;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    position: relative;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}

.toggle_btn {
    position: fixed;
}